<h2>Nueva Promoción</h2>
<form <%= this%> >
	<div style="padding-left: 30px;">
	<% for(var i = 0; i < Nahual.Promociones.Models.Promocion.editableAttributes.length; ++i){ 
		var editableAttr = Nahual.Promociones.Models.Promocion.editableAttributes[i];
	%>
		<div style="padding-top: 10px">
			<div>
				<span style="width:200px" ><label for="<%= editableAttr.Name %>" ><%= editableAttr.Description %></label></span>
				<input type="text" value="<%= this[editableAttr.Name] %>" id="<%= editableAttr.Name %>" name="<%= editableAttr.Name %>"/>
					<script>
					$(document).ready(function(){
						$('<%= editableAttr.Name %>').datepicker({
							inline: true
						});
					
					});
					</script>
			</div>
		</div>
	<%}%>
	</div>
	<div style="padding-left: 100px; padding-top:50px;padding-bottom:50px ">
		<input type='submit' class="save" value='Grabar'/>
		<input type="button" class="cancel" value="Cancelar" />
	</div>
</form>
